<!doctype html>
<html>
<head>
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<style>
		* { margin: 0; padding: 0; box-sizing: border-box; }
		body { overflow: hidden; }
		#wrapper { padding-top: 0; }
		#play-frame {
			position: fixed;
			top: 3.25em;
			left: 0;
			width: 100%;
			height: calc(100vh - 3.25em);
			border: none;
			z-index: 999;
		}
	</style>
</head>
<body>
	{% include header.html %}
	<iframe id="play-frame" src="/play-graph.html" allowfullscreen></iframe>

	<script src="{{ "assets/js/jquery.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | relative_url }}"></script>
	<script src="{{ "assets/js/util.js" | relative_url }}"></script>
	<script src="{{ "assets/js/main.js" | relative_url }}"></script>
</body>
</html>
